<!DOCTYPE html>
<html lang="en">
    <head>
        
        

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-7130289-40', 'auto');
          ga('send', 'pageview');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <title>Devotionals | NewSpring Church</title>
        
        <!-- Typekit -->
        <script>
        (function(d) {
        var config = {
          kitId: 'jjq2btp',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
        </script>

        <!-- Styles -->
        <link rel="stylesheet" href="./theme.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">

        <!-- App Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#303030">
        <link rel="apple-touch-startup-image" href="/assets/images/favicon/launch.png">
        
        <meta name="msapplication-TileColor" content="#1c1c1c">
        <meta name="theme-color" content="#ffffff">
        <meta name="apple-mobile-web-app-title" content="NewSpring">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">

        <!-- Hotjar Tracking Code for http://54.152.245.40/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:923026,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

	</head>
	<body>
        
        
        
        
        
        
        

        <div id="navigation">
            <ul class="nav-primary sans-serif strong text-decoration-none hard flush">
	<li>
		<a href="/" class="nav-logo">
			<img src="//dg0ddngxdz549.cloudfront.net/newspring/icons/newspring_mark.png" alt="" class="nav-icon  nav-logo-regular"> 
			<span>NewSpring Church</span>
		</a>
	</li><span class="pull-right xs-pull-none"><li>
			<a href="#" data-toggle="modal" data-target="#navigation-modal"><i class="fas fa-fw fa-lg fa-bars"></i></a>
		</li><li>
			<a href="/locations.html"><i class="fas fa-fw fa-lg fa-map-marker-alt"></i></a>
		</li><li>
			<a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-fw fa-lg fa-search"></i></a>
		</li><li class="hidden-xs">
			<a href="/help.html"><i class="fas fa-fw fa-lg fa-question-circle"></i></a>
		</li><li>
			
				
					<a href="/my-account.html">
						<img src="https://rock.newspring.cc/GetImage.ashx?id=571481" alt="" class="nav-icon circular" style="border: 2px solid rgba(255,255,255,1)">
					</a>
				
		
			</a>
		</li></span>
</ul>
        </div>

        <div id="content">
            
            

            


<div class="page-brand-bar" style="background-color: #2a4930; opacity: .9;"></div>



	



<section class="soft-double-top soft-bottom soft-double-sides xs-hard-sides clearfix xs-text-center flush">
    <div class="container-fluid hard-sides text-white">
    	

		
        	<h1 class="h2 flush">Devotionals</h1>
        

        
		
        
        
        
        
    </div>
</section>


<div class="soft-top xs-soft-half-top" style="">
    

	


    <style>
        #block-0 {
            background-color: #;
        }

        #block-0 blockquote, blockquote footer, blockquote small, blockquote .small {
            color: #fff;
        }

        #block-0 a:not(.btn):not(.label) {
            color: #;
        }

        #block-0 .btn {
            background-color: #;
            border-color: #;
        }

        

    </style>


<section id="block-0" class="bg-white position-relative overflow-hidden xs-soft-half-sides xs-soft-top xs-hard-bottom xs-push-half-bottom rounded shadowed">
	
	

    <div class="bring-forward center-block text-constrained text-center soft xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
        
            <p><small class="label label-default sans-serif">Today&#39;s Devotional</small></p>
        

		
        	<h2 class=" push-half-bottom">God Is Peace</h2>
        

        
            <p class="sans-serif stronger text-uppercase letter-spacing-condensed text-gray-light push-half-bottom"><small>What is God like?</small></p>
        

		<div>
            
                
                <p>In <a href='http://www.bible.com/bible/111/JDG.6.11-24.NIV'>Judges 6:11-24</a> Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we... <a href="#" data-toggle="modal" data-target="#0-modal">Read More</a>
            
        </div>

		
	        <p>
                
<a href="/devotional-entry.html" class="btn  btn-primary" role="button">Read Now </a>
	        </p>
        

    </div>
</section>


    
    <div class="modal fade" id="0-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">God Is Peace</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    <p>In <a href='http://www.bible.com/bible/111/JDG.6.11-24.NIV'>Judges 6:11-24</a> Gideon’s hiding away, head down, working hard. Many of us could say the same about our day to day. How often do we toil away rarely lifting our eyes off our tasks to have an encounter with the Lord?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    




	<section id="slider" class="hard flush-sides">

        <div class="slider-wrapper" data-slider="340">
            <div class="slider slider-borderless">
                <div class="slider-item">
                    



<div id="block-1" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/WhatIsGodLike2x1.png" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    What is God Like?
                </a>
            </h2>
        

        
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>A 21-Day Devotional</small></p>
        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> god</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> peace</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> mercy</a>
                </small>
            </p>
        
        
        
            
            <p>What is God like?</p><p>It’s a big question, but an important one. What we understand about God will determine how we relate to Him. The... <a href="#" data-toggle="modal" data-target="#1-modal">Read More</a>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 5</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 8</a>
                

            </div>
        </div>
    </div>
</div>


    
    <div class="modal fade" id="1-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">What is God Like?</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    <p>What is God like?</p><p>It’s a big question, but an important one. What we understand about God will determine how we relate to Him. The more we know about God, the better our relationship will be.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

                </div><div class="slider-item">
                    



<div id="block-2" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/howtobeabetterleader2x1_2000_1000_90_c1.jpg" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    How To Be A Better Leader
                </a>
            </h2>
        

        
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>A 7-Day Devotional</small></p>
        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> leadership</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> influence</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> humility</a>
                </small>
            </p>
        
        
        
            
            <p>Think about the last time you had a really bad boss.</p><p>Whether it was the business manager with more attitude than <a... <a href="#" data-toggle="modal" data-target="#2-modal">Read More</a>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 14</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 42</a>
                

            </div>
        </div>
    </div>
</div>


    
    <div class="modal fade" id="2-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">How To Be A Better Leader</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    <p>Think about the last time you had a really bad boss.</p><p>Whether it was the business manager with more attitude than <a href='https://g.co/kgs/ktJtwU'>Miranda Priestly</a>, or the outspoken entrepreneur who made <a href='https://g.co/kgs/4JDSCr'>Michael Scott</a> look tame, it’s easy to identify the qualities of a bad leader. But what about a good one?  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

                </div><div class="slider-item">
                    



<div id="block-3" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/2x1actsguide_1700_850_c1.png" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    Acts
                </a>
            </h2>
        

        
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>A 28-Day Devotional</small></p>
        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> evangelism</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> church</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> holy spirit</a>
                </small>
            </p>
        
        
        
            
            <p>How does one man’s life and death change the course of history?</p><p>One conversation at a time.</p><p>Acts is the story of the start... <a href="#" data-toggle="modal" data-target="#3-modal">Read More</a>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 42</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 2</a>
                

            </div>
        </div>
    </div>
</div>


    
    <div class="modal fade" id="3-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="text-gray-darker pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-lg fa-times"></i>
                    </a>
                    <h3 class="flush">Acts</h3>
                </div>
                <div class="modal-body soft hard-bottom">
                    <p>How does one man’s life and death change the course of history?</p><p>One conversation at a time.</p><p>Acts is the story of the start and spread of the Christian church. It opens with Jesus returning to heaven and the Holy Spirit coming in His place. Jesus’ followers start following the Holy Spirit’s lead, and 28 chapters later, the Gospel was spreading across the known world.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

                </div><div class="slider-item">
                    



<div id="block-4" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/2x1942.2thessalonians_1700_850_c1.png" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    2 Thessalonians
                </a>
            </h2>
        

        
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>A 5-Day Devotional</small></p>
        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> perseverance</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> mission</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> holy spirit</a>
                </small>
            </p>
        
        
        
            
            <p>If you’ve ever told you ever told a toddler you’ll see them soon, you know that “soon” means different things to different people.</p>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 5</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 2</a>
                

            </div>
        </div>
    </div>
</div>


    

                </div><div class="slider-item">
                    



<div id="block-5" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/enemyatyourtable2x1_1700_850_90_c1.jpg" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    Is the Enemy at Your Table?
                </a>
            </h2>
        

        
            <p class="sans-serif stronger letter-spacing-condensed text-uppercase text-gray-light push-half-bottom"><small>A 5-Day Devotional</small></p>
        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> perseverance</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> mission</a>
                </small>
            </p>
        
        
        
            
            <p>When our lives are exploding, throwing a party is the last thing on our minds.</p>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 73</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 73</a>
                

            </div>
        </div>
    </div>
</div>


    

                </div><div class="slider-item">
                    



<div id="block-6" class="panel panel-default ">

    
        <a href="/study.html" class="panel-image">
            

            
                <img src="//dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/studies/TwoYrReadingPlan2x1_1700_850_90_c1.jpg" alt="" class="" style="">
            

        </a>
    

    <div class="panel-body xs-soft xs-hard-bottom">

        
        
        
            <h2 class="h4 push-half-bottom">
                <a href="/study.html">
                    The Two-Year Reading Plan
                </a>
            </h2>
        

        

        
        
            <p class="tag-list sans-serif push-half-bottom">
                <small>
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> reading plan</a>
                
                    <a href="#" class="stronger text-decoration-none letter-spacing-condensed no-breaks"><i class="fas fa-sm fa-tag"></i> devotional</a>
                </small>
            </p>
        
        
        
            
            <p>If you find yourself re-reading your favorite parts of the Bible over and over, it’s time to try a Bible reading plan.</p>
        

    </div>
    <div class="panel-footer">
        <div class="panel-actions clearfix">
            
            
                
<a href="/study.html" class="btn btn-sm btn-primary" role="button">Begin Study </a>
            

            <div class="pull-right">
                
                    <a href="#" data-toggle="modal" data-target="#share-modal" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-share><i class="fas fa-share flush"></i> 5</a>
                

                
                    <a href="#" class="btn btn-sm btn-default text-gray-dark text-decoration-none" data-like><i class="far fa-heart flush"></i> 19</a>
                

            </div>
        </div>
    </div>
</div>


    

                </div>
            </div>
        </div>

    </section>


	
	

	



<section  class="bg-white position-relative overflow-hidden xs-soft-half-sides xs-soft-top xs-hard-bottom xs-push-half-bottom rounded shadowed">
	
	

    <div class="bring-forward center-block text-constrained text-center soft xs-soft-top xs-soft-half-sides xs-soft-bottom">
		
        

		
        	<h2 class=" push-half-bottom">Daily Devotionals, Delivered Every Morning</h2>
        

        

		<div>
            
                <p>Sign up to receive a daily devotional via text message every morning.</p>
            
        </div>

		
	        <p>
                
<a href="#" class="btn  btn-primary" role="button">Sign Up Now </a>
	        </p>
        

    </div>
</section>




</div>






            <footer class="soft-double bg-gray-darker rounded shadowed">
    <p class="sans-serif strong text-decoration-none text-center flush"><small class="sans-serif strong text-decoration-none text-center flush"><span class="text-white">&copy; 2018 NewSpring Church</span><br><a href="#">Free Church Resources</a> &middot; <a href="#">NewSpring Store</a> &middot; <a href="#">Privacy Policy</a> &middot; <a href="#">Terms of Use</a> &middot; <a href="#">Reprinting &amp; Reposting Terms</a></small></p>
</footer>
            
        </div>

        <div id="navigation-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body soft hard-bottom">
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>
        <h1 class="h2">
          
            Hello Grant.
          
        </h1>

        <p>Where would you like to go?</p>

        

        <ul class="list-style-none hard xs-flush">
          <li>
            <a href="/my-account.html">
              <h3 class="text-primary push-half-bottom push-half-top"><a href="/my-account.html"><img src="https://rock.newspring.cc/GetImage.ashx?id=571481" alt="" class="nav-icon circular" style="position: relative; top: -3px; max-width: 36px;">&nbsp; My Account</a></h3>
            </a>
          </li>
        </ul>
        
        <hr class="push-ends">

        <ul class="list-style-none hard xs-flush">
          <li>
            <span class="label label-sm label-default sans-serif">Anderson</span><br>
            <h3 class="text-primary push-half-bottom push-half-top"><a href="/news.html"><i class="fal fa-fw fa-newspaper display-none"></i>News</a></h3>
            <h3 class="text-primary push-half-bottom"><a href="/events.html"><i class="fal fa-fw fa-calendar-alt display-none"></i>Events</a></h3>
          </li>
        </ul>
        
        <hr class="push-ends">
        

        <ul class="list-style-none hard xs-flush">
          <li><h3 class="text-primary push-half-bottom"><a href="/articles.html"><i class="fal fa-fw fa-file-alt display-none"></i>Articles</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/sermons.html"><i class="fal fa-fw fa-video display-none"></i>Sermons</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/devotionals.html"><i class="fal fa-fw fa-video display-none"></i>Devotionals</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/about.html"><i class="fal fa-fw fa-map-marker-alt display-none"></i>About</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/beliefs.html"><i class="fal fa-fw fa-map-marker-alt display-none"></i>Beliefs</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/staff.html"><i class="fal fa-fw fa-map-marker-alt display-none"></i>Staff</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/locations.html"><i class="fal fa-fw fa-map-marker-alt display-none"></i>Locations</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/groups.html"><i class="fal fa-fw fa-users display-none"></i>Find a Group</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/give.html"><i class="fal fa-fw fa-dollar-sign display-none"></i>Giving</a></h3></li>
          <li><h3 class="text-primary push-half-bottom"><a href="/help.html"><i class="fal fa-fw fa-question display-none"></i>Get Help</a></h3></li>
        </ul>

        <hr class="push-ends">
        
        <p>Looking for something specific?</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h5 class="push-half-bottom">Next Steps</h5>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/bible.html">Bible Reading</a></li>
                <li><a href="/connect.html">Connect</a></li>
                <li><a href="/groups.html">Groups</a></li>
                <li><a href="/care.html">Care</a></li>
                <li><a href="/serving.html">Serving</a></li>
                <li><a href="/salvation.html">Salvation</a></li>
                <li><a href="/baptism.html">Baptism</a></li>
                <li><a href="/missions.html">Missions</a></li>
                <li><a href="/finances.html">Finances</a></li>
                <li><a href="/discover-year.html">Discover Year</a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-6 col-md-6">
            <h5 class="push-half-bottom">Watch &amp; Read</h5>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/articles.html">Articles</a></li>
                <li><a href="/sermons.html">Sermons</a></li>
                <li><a href="/devotionals.html">Devotionals</a></li>
                <li><a href="/news.html">News</a></li>
                <li><a href="/stories.html">Stories</a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-6 col-md-6">
            <h5 class="push-half-bottom">Ministries</h5>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/kidspring.html">Kids</a></li>
                <li><a href="/fuse.html">Students</a></li>
                <li><a href="/rally.html">Young Adults</a></li>
                <li><a href="/discover-year.html">Discover Year</a></li>
                <li><a href="/worship.html">Worship</a></li>
                <li><a href="/missions.html">Missions</a></li>
                <li><a href="/network.html">NewSpring Network</a></li>
                <li><a href="/store.html">Store</a></li>
            </ul>
          </div><div class="col-xs-12 col-sm-6 col-md-6">
            <h5 class="push-half-bottom">Giving</h5>
            <ul class="sans-serif strong text-decoration-none list-style-none hard">
                <li><a href="/give.html">Why We Give</a></li>
                <li><a href="https://my.newspring.cc/give/now.html">Give Now</a></li>
                <li><a href="https://my.newspring.cc/give/schedules.html">Schedule Your Giving</a></li>
                <li><a href="https://my.newspring.cc/give/history.html">Giving History</a></li>
                <li><a href="/annualreport.html">Annual Report</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        <div id="search-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body soft-half">
        <form action="">
          <h2 class="push-half-ends text-center">Hello, Grant.</h2>
          <input class="form-control input input text-center" type="text" placeholder="What can we help you find?">
        </form>
      </div>
      <div class="modal-footer">
        <div class="row row-reverse">
          <div class="col-xs-12 col-md-6">
            <button type="button" class="btn btn btn-primary btn-block sm-push-half-bottom xs-push-half-bottom">Search</button>
          </div><div class="col-xs-12 col-md-6">
            <button type="button" class="btn btn btn-default btn-block" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        <div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header hidden">
        
        <i class="fa fa-times close" data-dismiss="modal" aria-hidden="true"></i>

      </div>
      <div class="modal-body soft-half hard-bottom">

        <ul class="list-style-none hard push-half-bottom">
          <li>
            <a href="#" class="btn btn-facebook btn-block push-half-bottom"><i class="fab fa-fw fa-facebook-f"></i> Facebook</a>
          </li>
          <li>
            <a href="#" class="btn btn-twitter btn-block push-half-bottom"><i class="fab fa-fw fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#" class="btn btn-google btn-block push-half-bottom"><i class="fab fa-fw fa-google"></i> Google</a>
          </li>
          <li>
            <a href="#" class="btn btn-pinterest btn-block"><i class="fab fa-fw fa-pinterest-p"></i> Pinterest</a>
          </li>
        </ul>

      </div>
      <div class="modal-footer hidden">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Core JS -->    
        <script src="./scripts.min.js"></script>

	</body>
</html>